
.content{
    margin-left: 17%;             
    text-align: center;
    width:400px;
    display:flex;
}
img{
    border-radius:100%;
    height:150px;
    width:150px;
}
.data{
    background-color: rgb(226, 220, 220);
    padding:50px 80px;
    border-radius: 20px;
    margin:10px 10px;
}
.btn{
    padding:10px 30px;
    border: none;
    background-color: rgb(8, 210, 8);
    color:white;
    border-radius: 5px;
}
body{
    background-color: rgb(195, 192, 141);
}
.head{
    background-color: black;
    color:white;
    padding:10px 30px;
    border-radius:8px;
    

}

